.env
datasets/data/
finetuned/
wandb/

inference/inference-container-data

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

interface/node_modules/
interface/*.js
interface/*.js.map
